[data-auth-register].page-wrapper,
[data-auth-login].page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #584cf5;
}

[data-name-wrapper] {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

[data-birthdate-wrapper] {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

[data-birthdate-wrapper] select {
  border-radius: 10px;
}

[data-gender-wrapper] {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

[data-focus]:focus {
  outline: solid #6e63f5 2px;
  border: none;
}

[data-focus]:not(:focus) {
  outline: none;
  border: solid black 1px;
}

.auth-register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 40%;
  min-width: 500px;
  min-height: 500px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  gap: 5px;
  background-color: white;
}

.auth-login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  box-sizing: border-box;
  gap: 10px;
  background-color: white;
}

.gender-choice-wrapper {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  /* justify-content: center */
  border-radius: 10px;
  border: solid black 1px;
  padding: 10px;
}

.gender-choice-wrapper p {
  margin: 0;
  text-align: center;
}

.gender-choice-wrapper input {
  margin-left: auto;
}

.btn-sign-up,
.btn-login {
  margin-top: 5px;
  width: 55%;
  height: 40px;
  border: solid #6e63f5 1px;
  border-radius: 20px;
  background-color: #6e63f5;
  font-size: 1.2rem;
  color: white;
}

.btn-login {
  width: 100%;
}

.btn-create-account {
  height: 50px;
  width: 40%;
  border: solid white 2px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  margin: 20px;
}

.nav-link {
  text-decoration: none;
  padding: 0;
}

.nav-link:hover {
  text-decoration: underline;
  padding: 0;
}

.focused {
  border: solid #6e63f5 2px;
}

select {
  max-width: 200px;
  max-height: 150px;
  flex: 1;
  padding: 8px;
  font-size: 1rem;
  border-radius: 10px;
}

/* login */

#right-content {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 55%;
  /* border: solid black 1px; */
  background-color: white;
}

#left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 45%;
  background-color: #6e63f5;
}

.socials-wrapper {
  flex: 1;
  width: 100%;
  background-color: antiquewhite;
}

.greeting-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  /* border: solid black 1px; */
}

.login-error {
  outline: solid red 2px !important; /*important to override data-focus*/
  border: none !important;
}
