@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}


body {
  background-color: rgb(252, 252, 252);
  height: 100vh;
  box-sizing: border-box;
  font-family: montserrat;
}

p {
  margin: 0;
}

.dashboard-text{
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 7%;
    display: flex;
}
  
.dashboard-description{
    font-size: 10px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 7px;
}

.hello-user{
    background-color: pink;
    width: 700px;
    height: 180px;
    margin-left: 7%;
    margin-top: 3%;
}

#btn-logout{
    background-color: rgb(218, 28, 28);
    margin-left: 70%;
}
