@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(252, 252, 252);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  scrollbar-gutter: stable;
  font-family: montserrat;
}

p {
  margin: 0;
}

.page-header {
  width: 100%;
  height: 101px;
  background-color: blueviolet;
  display: flex;
}

.page-logo {
  font-family: montserrat;
  padding-top: 10px;
  color: white;
  /* background-color: blue; */
  padding-left: 70px;
  width: fit-content;
  height: fit-content;
  font-size: 35px;
  line-height: 80px;
  font-weight: 600;
}

.page-navbar {
  /* background-color: white; */
  padding-top: 40px;
  margin-left: 3%;
}

li {
  float: left;
}
ul {
  list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.16px;
  line-height: 12px;
  margin-left: 8.16px;
  margin-right: 8.16px;
  padding-bottom: 7.4px;
  padding-top: 5.4px;
  text-transform: uppercase;
}

.navbar-button-container {
  /* background-color: pink; */
  margin-left: 18%;
  padding-top: 30px;
  width: 300px;
}

.buttons {
  font-family: montserrat;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px;
  width: 120px;
  border: none;
  color: white;
}

#btn-login,
#btn-register {
  background-color: #007bff;
}

#btn-register {
  margin-left: 15px;
}

.page-contents-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
}

.header-container {
  background-color: #fef4ee;
  color: #201550;
  font-size: 1.5rem;
  width: 100%;
  height: 600px;
}

.header-text {
  font-weight: bold;
  margin-left: 15%;
  margin-top: 6%;
  color: #201550;
  font-size: 2.5rem;
  width: 40%;
  height: 100px;
}

.text-underline {
  text-decoration: underline;
  color: #585370;
  font-size: 2.5rem;
  width: 40%;
  height: 100px;
}

p.header-lowtext {
  color: #71569d;
  font-size: 1rem;
  margin-top: 5%;
  font-weight: 500;
}

.header-buttons {
  width: 500px;
  height: 20%;
  margin-top: 120px;
  margin-left: 210px;
}

.book-an-appointment,
.chat-a-doctor {
  font-weight: 550;
  font-size: 13px;
  border-radius: 100px;
  padding: 13px;
  border: none;
}

.book-an-appointment {
  background-color: #71569d;
  color: white;
}

.chat-a-doctor {
  background-color: white;
  color: #71569d;
  margin-left: 20px;
}

.trust-us-container {
  margin-top: 50px;
  /* background-color: green;  */
}

.trust-us-text {
  font-weight: bold;
  color: #201550;
  font-size: 2rem;
  padding-top: 1rem;
  text-align: center;
}

.about-us-container {
  display: flex;
  margin-top: 50px;
  margin-left: 1%;
  /* background-color: orange;  */
  height: 200px;
}

.about-us-one {
  width: 250px;
  height: 230px;
  background-color: #e0e0e2;
}

.about-us-two {
  margin-left: 50px;
  width: 250px;
  height: 230px;
  background-color: #e0e0e2;
}

.about-us-three {
  margin-left: 50px;
  width: 250px;
  height: 230px;
  background-color: #e0e0e2;
}

.about-us-four {
  margin-left: 50px;
  width: 250px;
  height: 230px;
  background-color: #e0e0e2;
}
