@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(252, 252, 252);
  height: 100vh;
  box-sizing: border-box;
}

#container{
  height: 100%;
  width: 100%;
}

 td,  th {text-align: center; vertical-align: center; width: 10%;}

.doctorlist{
    width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-left: auto;
    padding-left: 2%;
    padding-top: 2%;
    margin-right: auto;
    background-color: pink;
}

.specializations{
    width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-left: auto;
    padding-left: 2%;
    padding-top: 2%;
    margin-right: auto;
    background-color: pink;
}

